* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora";
}
body {
  background-color: white;
}
.head-image {
  image-resolution: 10px;
  margin: 10px;
  padding: 10px;
  height: 10rem;
  width: 42rem;
}
.First-Header {
  background-color: aqua;
  margin: 10px;
  padding: 10px;
  max-width: fit-content;
  margin-top: 120px;
}
.Company-name {
  padding: 20px;
  margin: 20px;
  font-size: 3rem;
  background-color: black;
  color: wheat;
}
.Second-header {
  margin: 10px;
  padding: 10px;
  background-color: gray;
  margin-right: 39rem;
}
.second-name {
  background-color: black;
  color: wheat;
  margin: 10px;
  padding: 10px;
}
[type] {
  border-color: rgb(28, 31, 27);
  color: green;
  background-color: wheat;
}
[type="file"] {
  background-color: gray;
  color: purple;
}
::placeholder {
  color: red;
}
label {
  color: purple;
}
.Button-container:hover {
  background-color: black;
  color: yellow;
  cursor: pointer;
}
.Button-container {
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: aqua;
  color: brown;
}
.third-header {
  margin: 10px;
  padding: 10px;
  background-color: darkgray;
  margin-right: 39rem;
  font-size: 2.5rem;
  font-style: italic;
}
.fourth-header {
  margin: 10px;
  padding: 10px;
  background-color: brown;
  color: rgb(203, 214, 52);
  margin-right: 39rem;
  font-size: 30px;
}
.first-list {
  margin: 10px;
  padding: 10px;
  background-color: darkgray;
  color: blue;
  list-style: none;
  margin-right: 39rem;
  border-radius: 10px;
}
.fifth-header {
  margin: 10px;
  padding: 10px;
  background-color: brown;
  color: rgb(203, 214, 52);
  margin-right: 39rem;
  font-size: 30px;
}
.second-list {
  margin: 10px;
  padding: 10px;
  background-color: darkgray;
  color: green;
  list-style: none;
  margin-right: 39rem;
  border-radius: 10px;
}
.sixth-header {
  margin: 10px;
  padding: 10px;
}
.firstcontact-head {
  margin: 10px;
  padding: 10px;
  color: brown;
  font-style: italic;
  font-weight: 1000;
  border-radius: 10px;
  max-width: fit-content;
}
.secondcontact-head {
  margin: 10px;
  padding: 10px;
  color: rgb(184, 33, 91);
  margin-right: 39rem;
}
.thirdcontact-head {
  margin: 10px;
  padding: 10px;
  color: blue;
  margin-right: 39rem;
}
.fourthcontact-head {
  margin: 10px;
  padding: 10px;
  color: yellow;
  margin-right: 39rem;
}
.fifthcontact-head {
  margin: 10px;
  padding: 10px;
  background-color: rgba(3, 15, 1, 0.459);
  color: rgba(132, 0, 255, 0.774);
  margin-right: 39rem;
}
.second-link {
  margin: 10px;
  padding: 10px;
}
body.contact {
  background-color: gray;
}
.aboutfirst-head {
  margin: 10px auto;
  padding: 10px;
  background-color: aqua;
  color: brown;
  font-size: 50px;
  font-style: italic;
  font-weight: 1000;
  border-radius: 10px;
  max-width: 30rem;
  text-align: center;
}
.first-paragraph {
  margin: 10px;
  padding: 10px;
  background-color: rgba(23, 44, 228, 0.459);
  color: rgba(247, 211, 7, 0.774);
  font-size: 20px;
}
.second-paragraph {
  margin: 10px;
  padding: 10px;
  background-color: rgba(23, 44, 228, 0.459);
  color: rgba(247, 211, 7, 0.774);
  font-size: 20px;
}
.thirdabout-head {
  margin: 10px;
  padding: 10px;
  background-color: black;
  color: rgba(247, 211, 7, 0.774);
  font-size: 20px;
}
.sign {
  margin: 10px;
  padding: 10px;
  background-color: rgba(23, 44, 228, 0.459);
  color: rgba(247, 211, 7, 0.774);
  font-size: 20px;
  max-width: fit-content;
}
.date {
  margin: 10px;
  padding: 10px;
  background-color: rgba(23, 44, 228, 0.459);
  color: rgba(247, 211, 7, 0.774);
  font-size: 20px;
  max-width: fit-content;
}
body.body {
  background-color: green;
}
.services-head {
  margin: 10px auto;
  padding: 10px;
  background-color: aqua;
  color: brown;
  font-size: 40px;
  font-style: italic;
  font-weight: 1000;
  border-radius: 10px;
  max-width: fit-content;
  text-align: center;
}
body.services {
  background-color: gray;
}
.services-list {
  margin: 10px;
  padding: 10px;
  background-color: darkgray;
  color: blue;
  list-style: none;
  margin-right: 55rem;
  border-radius: 10px;
}

.links {
  border: 2px solid red;
  padding: 2.5rem;
  background-color: black;
  position: sticky;
  top: 0;
  width: 84.5rem;
}

.links > a {
  padding: 10rem;
}

[href] {
  color: yellow;
}
[href="index.html"] {
  color: black;
  margin: 10px;
}
.greetings {
  border: 2px solid white;
  bottom: 0;
  margin-left: 79rem;
  text-align: center;
  max-width: 100px;
  background-color: blue;
  color: yellow;
  position: fixed;
}
